<footer class="page-footer">
    <div class="container">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <div class="footer-image">
            <img src="assets/images/footer-logo.png" class="img-fluid" alt="Direct Heating">
          </div>
          <p>©2020 Direct Heating. All rights reserved.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <ul class="list-unstyled">
            <li>
              <a href="https://directheating.co.uk/about-us/">About us</a>
            </li>
            <li>
              <a href="https://directheating.co.uk/faqs/">FAQ's</a>
            </li>
            <li>
              <a href="https://directheating.co.uk/advice/">Advice</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
         <ul class="list-unstyled">
            <li>
              <a href="https://directheating.co.uk/contact-us/">Contact us</a>
            </li>
            <li>
              <a href="https://directheating.co.uk/cookie-policy/">Cookie policy</a>
            </li>
            <li>
              <a href="https://directheating.co.uk/sitemap/">Sitemap</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  </div>
    <!-- Footer Links -->
  </footer>
  <!-- <div class="bottom-btn">
    <a href="javascript:;" class="btn-bk mobile" ><i class="fa fa-angle-left" aria-hidden="true"></i>
      Back</a>
  </div>
   -->