<div class="container-fluid">
    <div id="ui-view">
       <div>
          <div class="animated fadeIn">
             <div class="card">
                <div class="card-header">
                   <i class="fa fa-edit"></i> Bookings
                   <div class="card-header-actions">
                   </div>
                </div>
                <div class="card-body">
                   <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                      <div class="row">
                         <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length">
                               <label>
                                  Show 
                                  <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" [(ngModel)]="perPage" class="custom-select custom-select-sm form-control form-control-sm">
                                  <option value="10">10</option>
                                  <option value="25">25</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                                  </select>
                                  entries
                               </label>
                            </div>
                         </div>
                         <div class="col-sm-12 col-md-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter searchBar"><label>Search:<input type="search" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div>
                         </div>
                      </div>
                      <div>
                         
                      </div>
                      <div class="row">
                         <div class="col-sm-12">
                            <table class="table table-striped table-bordered datatable dataTable no-footer  table-responsive-sm table-bordered table-striped table-sm" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                               <thead>
                                  <tr role="row">
                                    <th style="width:200px;">Boiler</th>
                                    <th style="width:200px;">Installation Date</th>
                                    <!-- <th style="width:200px;">Installation Address</th>-->
                                    <th style="width:150px;">Installation Postal</th> 
                                    <th style="width:200px;">price</th>
                                    <!-- <th style="width:200px;">Video Date</th> -->
                                    <th style="width:200px;">Details</th>
                                    <th style="width:200px;">Status</th>
                                     <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 200.2px;">Actions</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr role="row" class="odd" *ngFor="let item of records| filter:searchText| paginate: { itemsPerPage: perPage, currentPage: p } index as i">
                                    <td class="wordBreak">{{item.boiler}}</td>
                                    <td class="wordBreak">{{item.booking_date | date}}</td>
                                    <!-- <td class="wordBreak">{{item.address }}</td> -->
                                    <td class="wordBreak">{{item.full_postal}}</td>
                                  
                                    <td class="wordBreak">£{{item.price | number}}</td>
                                    <!-- <td class="wordBreak">{{item.video_date | date:'short'}}</td> -->
                                    <td class="wordBreak" style="cursor: pointer;"><a (click)="viewUserInfo(info,item)">View</a></td>
                                
                                    <td>
                                       <span class="badge badge-success new-badge" *ngIf="item.status==1">Paid</span>
                                       <span class="badge badge-danger new-badge" style="cursor: pointer; " *ngIf="item.status==0" (click)="changePostStatus(templatechangeStatus,item)">Pay</span>

                                    </td>

                                     <td>
                                       <a class="btn btn-success" (click) = "openEditBooking(editBooking,item)">
                                          <i class="fa fa-pencil"></i>
                                          </a>
                                        
                                        <a class="btn btn-danger" (click) = "deleteUser(templateDelete,item.id)">
                                        <i class="fa fa-trash-o"></i>
                                        </a>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                      <div class="row">
                         <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">{{perPage}} of {{totalEntries}} entries</div>
                         </div>
                         <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                               <ul class="pagination">
                                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                               </ul>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>


 <ng-template #templateDelete>
    <div class="modal-header">
       <h4 class="modal-title pull-left">Delete Booking</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefDel.hide()">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
       <p>Are you sure you want to delete this booking?</p>
       <button _ngcontent-c4="" class="btn btn-blue" style="color: white;"  type="button" (click) = "confirmDelete()">Yes</button>
       <button _ngcontent-c4="" class="btn btn-danger" style="margin-left:10px" type="button" (click)="modalRefDel.hide()">No</button>
    </div>
 </ng-template>
 
 <ng-template #info>
    <div class="modal-header">
       <h4 class="modal-title pull-left"> Details</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body" *ngIf="currentUser">
       <div class="container">
         <h5 class="adm-cstm-hd">Boiler Selection</h5>
         <div class="question_box" *ngFor="let ques of fullDetails.questions_group;index as i">
            <h5>Q{{i+1}} {{ques.name}}</h5>
            <p>{{ques.category}}</p>

         </div>

         <hr>
         <h5 class="adm-cstm-hd">User Details</h5>
          <div class="row">            
            <div class="col-md-4">
              <label class="label-bold">Name</label> 
              <p>{{currentUser[0].first_name}} {{currentUser[0].last_name}}</p>
            </div>

            <div class="col-md-4">
               <label class="label-bold">Contact</label> 
               <p>{{currentUser[0].contact}}</p>
             </div>

             <div class="col-md-4">
               <label class="label-bold">Email</label> 
               <p>{{currentUser[0].email}}</p>
             </div>


            


          </div>
          <div class="row">
      
            <div class="col-md-4">
               <label class="label-bold">Boiler</label> 
              <p>{{fullDetails.boiler}}</p>
            </div>

            <div class="col-md-4">
               <label class="label-bold">Installation Date</label> 
               <p>{{fullDetails.booking_date}}</p>
             </div>

             <!-- <div class="col-md-4">
               <label class="label-bold">Video Date</label> 
               <p>{{fullDetails.video_date | date:'short'}}</p>
             </div> -->
      </div>

      <div class="row">
      
         <div class="col-md-4">
            <label class="label-bold">Installation Postcode</label> 
           <p>{{fullDetails.full_postal}}</p>
         </div>

         <div class="col-md-4">
            <label class="label-bold">Installation Address</label> 
            <p>{{fullDetails.address}} {{fullDetails.address2}} {{fullDetails.address3}} {{fullDetails.city}} {{fullDetails.country}}</p>
          </div>

          <!-- <div class="col-md-4">
            <label>Installation Address</label> 
            <p>{{fullDetails.address}}</p>
          </div> -->


          <div class="col-md-4">
            <label class="label-bold">Personal Address</label> 
            <p>{{currentUser[0].address}} {{currentUser[0].address2}} {{currentUser[0].address3}}  {{currentUser[0].postal_code}} {{currentUser[0].city}} {{currentUser[0].country}}</p>
          </div>

   </div>
   <div class="row">
      
      <div class="col-md-4">
         <label class="label-bold">Price</label> 
         <p> £{{fullDetails.boiler_price}}</p>
       </div>
      <div class="col-md-4">
         <label class="label-bold">  Control Name</label> 
        <p>{{fullDetails.controls.name}}</p>
      </div>

      <div class="col-md-4">
         <label class="label-bold">Control Price</label> 
         <p> £{{fullDetails.controls.price}}</p>
       </div>

      
</div>

<div class="row">
   <div class="col-md-4">
      <label class="label-bold">Total Price</label> 
      <p><b> £{{fullDetails.price}}</b></p>
    </div>
</div>
       </div>
    </div>
 </ng-template>

 <ng-template #templatechangeStatus>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Payment Confirmation</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefStatus.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <p>Are you sure you want to paid for this booking?</p>
      <button _ngcontent-c4="" class="btn btn-blue" style="color: white;" type="button" (click) = "confirmChangeStatus()">Yes</button>
      <button _ngcontent-c4="" class="btn btn-danger" style="margin-left:10px" type="button" (click)="modalRefStatus.hide()">No</button>
   </div>
</ng-template>



<ng-template #editBooking>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Booking</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click) = "modalRefBooking.hide()">
      <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body custom-class">

      <div class="row">
         <div class="col-md-12">
            <label *ngIf="selectedRow"  class="update-booking">Installation Date <b>({{selectedRow.booking_date | date }})</b></label>
            <div class="col-md-4">
               <div class="btn-group">
                 <div
                   class="btn btn-primary"
                   mwlCalendarPreviousView
                   [view]="view"
                   [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()"
                 >
                   Previous
                 </div>
                 <div
                   class="btn btn-outline-secondary"
                   mwlCalendarToday
                   [(viewDate)]="viewDate"
                 >
                   Today
                 </div>
                 <div
                   class="btn btn-primary"
                   mwlCalendarNextView
                   [view]="view"
                   [(viewDate)]="viewDate"
                   (viewDateChange)="closeOpenMonthViewDay()"
                 >
                   Next
                 </div>
               </div>
             </div>
             <div class="col-md-4" style="margin-top: 13px;">
               <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
             </div>
           
            <div class="card-body">
               <ng-template
               #customCellTemplate
               let-day="day"
               let-openDay="openDay"
               let-locale="locale"
               let-tooltipPlacement="tooltipPlacement"
               let-highlightDay="highlightDay"
               let-unhighlightDay="unhighlightDay"
               let-eventClicked="eventClicked"
               let-tooltipTemplate="tooltipTemplate"
               let-tooltipAppendToBody="tooltipAppendToBody"
               let-tooltipDelay="tooltipDelay"
               let-trackByEventId="trackByEventId"
               let-validateDrag="validateDrag"
             >
               <div class="cal-cell-top">
                 <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{
                   day.badgeTotal
                 }}</span>
                 <span class="cal-day-number">{{
                   day.date | calendarDate: 'monthViewDayNumber':locale
                 }}</span>
               </div>
               <div class="cal-events" *ngIf="day.events.length > 0">
                 <div
                   class="cal-event"
                  
                 ></div>
                 <span style="color:red;font-size:10px">
                  {{day.events[0].title}}
                </span>
               </div>
               <div class="cal-events" *ngIf="day.events.length == 0 && day.cssClass !='cal-disabled'">
                  <div
                    class="cal-event"
                   style="background-color: green !important"
                  ></div>
                  <span style="color:green;font-size:10px">
                   
                    Available
                  </span>
                </div>
             </ng-template>
      
     
               <mwl-calendar-month-view
               [events]="eventsData"
               [viewDate]="viewDate"
               [refresh]="refresh"
               (dayClicked)="handleDateClick($event)"
               [cellTemplate]="customCellTemplate"
               (beforeViewRender)="beforeMonthViewRender($event)" 
               weekStartsOn="1"
      
               
             > </mwl-calendar-month-view>
               <!-- <full-calendar  #calendar1 [options]="calendarOptions"></full-calendar> -->
             </div>
         </div>
         

      </div>

  <div class="row">
     <div class="col-md-12">
      <label *ngIf="selectedRow" class="update-booking">Video Date <b>({{selectedRow.video_date }})</b></label>
      <div class="card-body">
         <div class="col-md-4">
            <div class="btn-group">
              <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view1"
                [(viewDate)]="viewDate1"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Previous
              </div>
              <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate1"
              >
                Today
              </div>
              <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view1"
                [(viewDate)]="viewDate1"
                (viewDateChange)="closeOpenMonthViewDay()"
              >
                Next
              </div>
            </div>
          </div>
          <div class="col-md-8" style="margin-top: 13px;">
            <h3>{{ viewDate1 | calendarDate:(view1 + 'ViewTitle'):'en' }}</h3>
          </div>
         <mwl-calendar-day-view
         [events]="events"
         [viewDate]="viewDate1"
         [refresh]="refresh" 
         [dayStartHour]="9"
         [dayEndHour]="20"
        
         (hourSegmentClicked)="hoursClick($event.date)"
         
       > </mwl-calendar-day-view>
       </div>

     </div>
  </div>
    
  <button style="width: 113px;" (click) = "updateBooking()" class="btn mt-3 btn-block btn-outline-primary active btn-blue">Update</button>

   </div>
</ng-template>